html {
	height: 100%
	
}

body {
	background: url(images/bg2.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.chat li
{
    border-bottom: 1px dotted #B3A9A9;
}

#chat {
    height: 150px;
}

#chat ul.chat-box {
    height: 150px; /* in this case #chat should be 150px + height of input area */
    overflow: auto;
}

#chatTextarea
{
	font-size: 10px;
}

#videoBox{
	
	margin-bottom: 30px;
	
}
