@import url('https://fonts.googleapis.com/css?family=Exo+2&subset=latin,latin-ext');

body{
font-family: 'Exo 2', sans-serif;}


.nav{
    max-height: 300px;
	min-height: 300px;
    overflow-y:scroll;
}

#remotes{
	max-height: 00px;
	min-height: 400px;
}

#remotes li
{
    border-bottom: 1px dotted #B3A9A9;
}

#videoPanel
{
	max-height: 170px;
	min-height: 470px;
}

#largeVideoBox
{
	min-height: 520px;
}

#remotesPanel
{
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;

	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
}

#localVidPanel{
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;

	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
}


#otherPeopleVideo
{
    width: 100%    !important;
    height: auto   !important;	
}

.video_nickcontainer{
	position: absolute; 
	top: 0px; 
	width: 100%; 
	text-align: center; 
	font-size: 200%;
	color: #fff;
}

.connectionstate {
	position: absolute; 
	bottom: 0px; 
	height: 25px;
	width: 100%;
	text-align: center;
	color: #fff;
}
.volume {
	position: absolute;
	left: 15%;
	width: 70%;
	bottom: 2px;
	height: 10px;
}	

.navbar{
	background-color: rgba(217,237,247,0.75);
	padding-top: 15px;
}

.jumbotron{
	background: rgba(217,237,247,0.75);
	margin-left: 10px;
	margin-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
	padding-left: 20px;
    padding-right: 20px;

}

#authorsBox
{
	text-align: left;
	padding-left: -50px;
	
}

#jumbo {
  padding: 5px;
}

#localVid {
	display:none;
}

#localVideo
{
    width: 100%    !important;
    height: auto   !important;
}

#connectionstate {
	display:none;
}

#remotes {
	display:none;
}